<div class="box detail__replenishment col-sm-3">
        <div class="box__inr bdr1 w100 fl p0">
                <h4>OUT OF STOCK</h4>
                <div class="box__replen col-sm-6 ">
                    <div class="box__replen-area">
                        <h3>Men </h3>
    
                        <div class="replen-left ">
                            16
                            <mark>PRODUCTS</mark>
                        </div>
    
                        <div class="replen-right ">
                            12<mark>%</mark>
                        </div>
                    </div>
                </div>
                
                    <div class="box__replen col-sm-6 ">
                    <div class="box__replen-area">
                        <h3>Women </h3>
    
                    <span class="tick"><img src="../../assets/images/tick.png" alt=""></span>
                    </div>
                </div>
    
    
                        <div class="box__replen col-sm-6 ">
                    <div class="box__replen-area">
                        <h3>Girls </h3>
    
                <span class="tick"><img src="../../assets/images/tick.png" alt=""></span>
                    </div>
                </div>
    
    
                <div class="box__replen col-sm-6 ">
                    <div class="box__replen-area">
                        <h3>Boys </h3>
        <div class="replen-left ">
                            3
                            <mark>PRODUCTS</mark>
                        </div>
    
                        <div class="replen-right ">
                            2<mark>%</mark>
                        </div>
                    
                    </div>
                </div>
                
            </div>
    
        </div>
    
      