<footer>
    <section class="ftr-area" id="footer">
        <div class="container">

            <div class="ftr__icon col-sm-12 p0 clrlist text-center">
                <ul>
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
            <div class="ftr__cont col-sm-12 p0 clrlist text-center">
                <ul> 
                    <li><a>About</a></li>
                    <li><a>Blog</a></li>
                    <li><a>CCL Label</a></li>
                    <li><a>Contact Us</a></li>
                </ul>
                <p>© 2018  Checkpoint Systems, Inc. – A Division of CCL Industries, Inc. All rights reserved.</p>
            </div>

        </div>
    </section>

</footer>