.box__replen{padding: 0 5px;}

.detail__replenishment .box__inr {
    background: #8db6d3;
    padding: 0px 3px;
    box-shadow: 2px 2px 10px #ccc;
}

.detail__replenishment .box__inr h4{
	color:#044f67;
	font-size: 20px;
	font-weight: 400;
	padding-left: 10px;
	padding-top: 0px;
	margin-bottom: 0px;

}
.box__replen-area{
	background: #e1dfdf;
	border-radius: 3px;
	padding-bottom: 5px;
	margin-top: 9px;
	height: 94px;
}
.box__replen-area h3{
	font-size: 20px;
	color:#686b6d;
	font-weight: 400;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 4px;
	margin-top: 0px;
	
}
.box__replen-area .replen-left {

	color:#686b6d;
	font-size:30px;
	font-weight: 400;
	text-align: center; 
	line-height: 21px;
	width: 49%;
	margin-top: 11px;
	display: inline-block;
	vertical-align: top;
}

.box__replen-area .replen-left mark {
    background: transparent;
    color: #878686;
    font-size: 10px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
}

.box__replen-area .replen-right {
	color:#686b6d;
	font-size:30px;
	font-weight: 500;
	text-align: right; 
	width: 48%;
	display: inline-block;
	vertical-align: top;
}

.box__replen-area .replen-right mark{
	background: transparent;
	color:#686b6d;
	font-size:30px;
	padding-left: 0px;
	font-weight: 500;
}

.replen-pink{
	background: #e9aebc;
}

.pink-text,.pink-text mark{
	color:#e2093c !important;
}
.tick{
	width: 34px;
    height: 34px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
}










@media only screen and (max-width : 1024px) {
	
	



	.box__replen-area .replen-right {
		width: 50%;
		font-size: 18px;
		float: right;
		margin-top: 0;
		text-align: center;
	
	}
	
	.box__replen-area .replen-right mark {
		font-size: inherit;
		margin-left: 2px;
	}
	
	.box__replen-area .replen-left {
		font-size: 18px;
		width: 50%;
		float:left;
		margin-top: 0;
		text-align: center;
	}


	  
		}
	  
	  
	  /* Medium Devices, Desktops */
	  @media only screen and (max-width : 992px) {	}
	  
	  
	  /*Landscape*/
	  @media only screen and (max-width : 960px) {	}
	  
	  
	  /* Kindel Fire HD 8.9in (800x1280) Tablets */
	  @media only screen and (max-width : 800px) {	}
	  
	  
	  /* iPad (All) (768x1024) Portrait Tablets */
	  @media only screen and (max-width : 768px) {	}
	  
	  /* Lower then iPad (All) (767x---) */
	  @media only screen and (max-width : 767px) {	}
	  
	  /*iPhone 6 Plus landscape � width: 736px */
	  @media only screen and (max-width : 736px) {	}
	  
	  /*iPhone 6 landscape � width: 667px */
	  @media only screen and (max-width : 667px) {	}
	  
	  
	  /*iPhone4 and iPhone5 Galaxy S2 and S3  */
	  @media only screen and (max-width : 640px) {	}
	  
	  
	  /* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
	  @media only screen and (max-width : 603px) {	}
	  
	  
	  /* iPhone 5 Landscape � 320x568px */
	  @media only screen and (max-width : 568px) {	}
	  
	  
	  /* Kindel Fire HD 8.9in (533x853) Tablets */
	  @media only screen and (max-width : 533px) {	}
	  
	  
	  /*iPhone3 Landscape*/
	  @media only screen and (max-width : 480px) {	}
	  
	  
	  /* iPhone 6 PLUS (414x736) */
	  @media only screen and (max-width : 414px) {	}
	  
	  
	  /* iPhone 6 portrait (375x667) */
	  @media only screen and (max-width : 375px ) {	}
	  
	  
	  /* Galaxy S5 (360x640) */
	  @media only screen and (max-width : 360px) {	}
	  
	  
	  /* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
	  @media only screen and (max-width : 320px) {	}
	  
	  
	  /*Galaxy Y*/
	  @media only screen and (max-width : 240px) {	}
	
	
	
