<section class="slider-area fadeft " >
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data---interval="false">

        <!--<ol class="carousel-indicators thumbs">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">


            <div class="item active bg-cntr" style="background-image:url('../../assets/images/slider-bg.jpg');">
                <div class="caro-cap">
                    <div class="container">

                        <div class="caro__cap__lft text-left col-sm-9 p0">
                            <p>Connects hardware, consumables and services onto one software  platform <br> transforming store’s data into actionable insights<br>
                                Making each day relevant</p>
                            <div class="lnk-btn inline-block more-btn"><a href="#">LEARN MORE</a></div>
                        </div>

                        <div class="caro__cap__rgt col-sm-3 p0">
                            <img class="pul-rgt" src="../../assets/images/slide-logo.png"/>
                        </div>

                    </div>
                </div>  
            </div>

        </div> <!--carousel-inner-->

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-angle-left"><img src="../../assets/images/angle-left.png"/></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-angle-right"><img src="../../assets/images/angle-right.png"/></span>
        </a>


    </div> <!--carousel-example-generic-->
</section> <!--slider-section-->