<section class="colset-section pt10 pb50">
    <div class="container">

        <div class="colset__box colset__box1 metroflip-box col-sm-4 mb30">
            <div class="colset__box__inr metroflip_inr pul-lft w100">

                <div class="front pul-lft w100 text-center">
                    <img src="../../assets/images/landbox1.png"/>
                    <h3>Store Operation</h3>
                    <p>Real-Time data capture from various sensor technologies around the store to help retailers deliver improved customer 
                        service for heightened shopper experience & loss reductions
                    </p>
                </div>

                <div class="back pul-lft w100 text-center">
                    <img src="../../assets/images/landbox1.png"/>
                    <h3>Visitor Counting <br> Occupancy Management <br> System Control <br> Alarm Management</h3>
                </div>

            </div> <!--colsetboxinr-->
        </div> <!--colsetbox -->

        <div class="colset__box colset__box2 metroflip-box col-sm-4 mb30">
            <div class="colset__box__inr metroflip_inr pul-lft w100">

                <div class="front pul-lft w100 text-center">
                    <img src="../../assets/images/landbox2.png"/>
                    <h3>Store Inventory Management</h3>
                    <p>RFID - Based solutions to help track and trace stock, improving their inventory accuracy, 
                        minimizing loss and maximizing their capital investments 
                    </p>
                </div>

                <div class="back pul-lft w100 text-center">
                    <img src="../../assets/images/landbox2.png"/>
                    <h3>Inventory Count <br> Item Location <br> Task Management <br> Returns</h3>
                </div>




            </div> <!--colsetboxinr-->
        </div> <!--colsetbox -->


        <div class="colset__box colset__box3 metroflip-box col-sm-4 mb30">
            <div class="colset__box__inr metroflip_inr pul-lft w100">

                <div class="front pul-lft w100 text-center">
                    <img src="../../assets/images/landbox3.png"/>
                    <h3>Omni-channel</h3>
                    <p>RFID - based solution to help retailers reduce errors, improve efficiencies and deliver seamless 
                        omni-channel experiences for their customers 
                    </p>
                </div>

                <div class="back pul-lft w100 text-center">
                    <img src="../../assets/images/landbox3.png"/>
                    <h3>Pick List <br> PO to Inventory Comparison <br> Shipping Verification <br> Smart Routing</h3>
                </div>

            </div> <!--colsetboxinr-->
        </div> <!--colsetbox -->

        <div class="colset__box colset__box4 metroflip-box col-sm-4">
            <div class="colset__box__inr metroflip_inr pul-lft w100">

                <div class="front pul-lft w100 text-center">
                    <img src="../../assets/images/landbox4.png"/>
                    <h3>Supply Chain Control</h3>
                    <p>RFID-based solutions to help retailers improve their in-store OSA to provide greater shopping experiences while
                        maximizing their capital investments 
                    </p>
                </div>

                <div class="back pul-lft w100 text-center">
                    <img src="../../assets/images/landbox4.png"/>
                    <h3>Tagging/Print/Encode <br> Shipping Verification<br> Tagging Validation <br> Audit</h3>
                </div>

            </div> <!--colsetboxinr-->
        </div> <!--colsetbox -->

        <div class="colset__box colset__box5 metroflip-box col-sm-4">
            <div class="colset__box__inr metroflip_inr pul-lft w100">

                <div class="front pul-lft w100 text-center">
                    <img src="../../assets/images/landbox5.png"/>
                    <h3>Distribution Centre</h3>
                    <p>RFID – Based solution to help retailers improve their inventory accuracy at DC, 
                        support omni-channel and supply chain efficiencies, reducing losses and errors
                    </p>
                </div>

                <div class="back pul-lft w100 text-center">
                    <img src="../../assets/images/landbox5.png"/>
                    <h3>Receiving Validation <br> Shipping Validation <br> Tagging/Print/Encode <br> Tagging Validation	</h3>
                </div>

            </div> <!--colsetboxinr-->
        </div> <!--colsetbox -->

        <div class="colset__box colset__box6 metroflip-box col-sm-4">
            <div class="colset__box__inr metroflip_inr pul-lft w100">

                <div class="front pul-lft w100 text-center">
                    <img src="../../assets/images/landbox6.png"/>
                    <h3>ORC Prevention</h3>
                    <p>A combination of intelligence led solutions from tagging to real-time data analytics, to help retailers deter, 
                        detect and displace Organized Retail Crime type threats
                    </p>
                </div>

                <div class="back pul-lft w100 text-center">
                    <img src="../../assets/images/landbox6.png"/>
                    <h3>Booster/Magnet Monitor <br> Shelf Monitor <br> Repeat Offender Monitor <br> Peg Hook Finder	</h3>
                </div>

            </div> <!--colsetboxinr-->
        </div> <!--colsetbox -->

    </div>
</section>